html, body {
    margin : 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/background.svg);
    background-color: #211A1D;
    background-size: cover;
    color: #F8F0FB;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

th
{
    height: 50px;
}

/* Used to hide sort icons on top row columns */
.hidden {
    display: none;
}

body #table-container {
    position: relative;
    margin: 100px auto;
    width: 950px;
    height: auto;
}

body #table-container h1, body #table-container h5 {
    font-weight: bold;
    text-transform: uppercase;
    border: 5px double #6320EE;
    background: #8075FF;
    padding: 5px;
}

body #table-container .page-selector label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

body #table-container h1 {
    text-align: center;
}

body #table-container h5 {
    display: inline-block;
    margin: 0 10px;
}

body #table-container table {
    width: 100%;
    table-layout: fixed;
    border: 5px groove #8075FF;
    margin-bottom: 20px;
}

body #table-container table thead tr th,
body #table-container table tfoot tr th {
    background-color: #F8F0FB;
    color: #6320EE;
}

/* Set each columns width */
body #table-container #id-column {
    width: 7%;
}

body #table-container #name-column {
    width: 38%;
}

body #table-container #author-column {
    width: 35%;
}

body #table-container #cost-column {
    width: 10%;
}

body #table-container #action-column {
    width: 10%;
}

body #table-container table thead tr .column-name-button {
    cursor: pointer;
}

.modify-button, #add-button, .change-button, .cancel-button, .remove-button {
    color: inherit;
    font-size: inherit;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#next-page-button, #previous-page-button
{
    color: inherit;
    font-size: inherit;
    border: 5px double #6320EE;
    background: #8075FF;
    cursor: pointer;
    margin: 0;
    padding: 5px;
}

.change-button, .cancel-button, .remove-button {
    font-size: 20px;
}

body #table-container table thead tr th,
body #table-container table tfoot tr th {
    border: 2px solid #6320EE;
    height: 60px;
}

/* Tfoot inputs */
body #table-container table tfoot tr th label input {
    background-color: #F8F0FB;
    border: 2px solid #6320EE;
    color: #6320EE;
    width: 80%;
}

body #table-container table tfoot tr th label input::placeholder {
    color: #8075FF;
    font-weight: normal;
}

body #table-container table tfoot tr th label input:focus {
    outline: none;
    border: 3px solid #6320EE;
    border-radius: 4px;
    color: #6320EE;
    font-weight: inherit;
}

/* Tbody inputs */
tbody tr th label input {
    border: 2px solid #F8F0FB;
    font-weight: bold;
    color: #F8F0FB;
    width: 80%;
}

tbody tr th label input:focus {
    outline: none;
    border: 4px solid #F8F0FB;
    border-radius: 4px;
}

#table-container table tbody tr th label .no-show {
    /* Clear all input properties */
    outline: none;
    border: none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* Make text look like other columns */
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Used to properly center number without spinner interfering */
.no-show[type='number']::-webkit-inner-spin-button,
.no-show[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Alternating row colors */
body #table-container table tbody tr:nth-child(2n + 1) th,
tbody tr:nth-child(2n + 1) th label input {
    background-color: #6320EE;
}

body #table-container table tbody tr:nth-child(2n) th,
tbody tr:nth-child(2n) th label input {
    background-color: #8075FF;
}

body #table-container .page-selector #rows-per-page-input {
    background-color: #F8F0FB;
    border: 2px solid #6320EE;
    color: #6320EE;
    width: 30px;
    height: 20px;
}

body #table-container .page-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body #table-container .page-selector .page-selector-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 5px double #6320EE;
    background: #8075FF;
    padding: 2px;
}

body #table-container .page-selector .page-selector-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

